<mat-card class="my-card">
    <mat-card-header>
      <mat-card-title>Direccion</mat-card-title>
      <!-- <mat-card-subtitle>Información sobre mi Alojamiento.</mat-card-subtitle> -->
    </mat-card-header>
    <!-- <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions> -->
    <mat-card-content>
        <div [formGroup]="form" class="example-container">
            <mat-form-field class="example-full-width">
                <mat-label>Ciudad</mat-label>
                <input type="text"
                       placeholder="Selecciona una"
                       aria-label="Ciudad"
                       matInput
                       [formControl]="myControl"
                       [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                    {{option}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>How to Arrive Instructions</mat-label>
                <textarea formControlName="instructions" matInput placeholder="Enter instructions"></textarea>
            </mat-form-field>
            <button mat-raised-button color="primary" [disabled]="!form.valid">Guardar</button>
        </div>
    </mat-card-content>
</mat-card>